In [18]:
import numpy as np
import pandas as pd
import math
pd.set_option('display.max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

# Outline

###  Part A. Affordable  Rentals
 1. Bring in 2011 PUMS data
 2. Assign county_id to each puma
 3. Bring in and clean, reformat county AMIs data
 4. Add variables for cost limits for ELI, VLI, LI, MI, and HI by bedroom count for each county
 5. Add count dummies for each unit based on income and unit type
 

###  Part B. Affordable Owning
 1. Calculate total monthly housing cost by adding monthly first mortgage, second/junior mortgage, and condo fees
 2. Add count dummies for each unit based on income and unit type

### Part C. Weighting Sample to get estimates
 1. Multiply each dummy by the the household weight variable
 2. Calculte standard errors for each estimate
 
### Part D. Aggregating at PUMA Level
 1. Add dummy variables for vacant "for-rent," vacant "for-sale," and recently moved in and create second dataset
 2. Aggregate at PUMA level for each dataset and export

## Part A1. Bring in 2011 PUMS data

In [19]:
variable_types = {"BDSP":"float","RMSP":"str","MV":"float","WGTP":"float","TAXP":"float"}
columns = ["PUMA","RT","BDSP","BLD","RNTP","MRGP","SMP","CONP","TEN","TAXP","VACS","VALP","GRPIP","GRNTP","HINCP","MV","WGTP"]
pums_df=pd.read_csv("2011_pums.csv", delimiter=",",usecols=columns,dtype=variable_types)
pums_df

,RT,PUMA,WGTP,BDSP,BLD,CONP,MRGP,RNTP,SMP,TEN,VACS,VALP,GRNTP,GRPIP,HINCP,MV,TAXP
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan

In [20]:
pums_df.rename(columns={"RT":"record_type","BDSP":"number_bedrooms",
    "BLD":"units_in_structure",
    "RNTP":"monthly_rent",
    "MRGP":"first_mortgage",
    "SMP":"second_mortgage",
    "CONP":"condo_fee",
    "TEN":"tenure",
    "VACS":"vacancy_status",
    "VALP":"property_value",
    "GRPIP":"gross_rent_pct_of_income",
    "GRNTP":"gross_rent",
    "HINCP":"hh_income",
    "TAXP":"prop_tax",
    "WGTP":"weight",
    "MV":"moved_in"}, inplace=True)
pums_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan

## Part A2. Assign county id to each puma

In [21]:
# load in crosswalk file
crosswalk_df=pd.read_csv("C:/Users/Terner GSR/Box/Cost of Doing Nothing/Climate Impacts/Data/PUMS/PUMA_County_Crosswalk_v2.csv", delimiter=",")
crosswalk_df

      PUMA     county1 county2 county3 county4 county5 county6 county7
0      101  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
1      102  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
2      103  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
3      104  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
4      105  Alameda CA     NaN     NaN     NaN     NaN     NaN     NaN
..     ...         ...     ...     ...     ...     ...     ...     ...
260  11103  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
261  11104  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
262  11105  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
263  11106  Ventura CA     NaN     NaN     NaN     NaN     NaN     NaN
264  11300     Yolo CA     NaN     NaN     NaN     NaN     NaN     NaN

[265 rows x 8 columns]

In [22]:
# add county name column to puma file
puma_county_df=pums_df.merge(crosswalk_df, how='left', left_on = "PUMA",right_on = "PUMA")
puma_county_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# remove " CA" from end of each county name
puma_county_df['County'] = puma_county_df['county1'].str.replace(r' CA', '')
puma_county_df['county2'] = puma_county_df['county2'].str.replace(r' CA', '')
puma_county_df['county3'] = puma_county_df['county3'].str.replace(r' CA', '')
puma_county_df['county4'] = puma_county_df['county4'].str.replace(r' CA', '')
puma_county_df['county5'] = puma_county_df['county5'].str.replace(r' CA', '')
puma_county_df['county6'] = puma_county_df['county6'].str.replace(r' CA', '')
puma_county_df['county7'] = puma_county_df['county7'].str.replace(r' CA', '')
puma_county_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Part A3. Bring in and clean, reformat county AMIs data

In [24]:
#bring in 2018 county AMIs file
columns=["County","Income_Category","1","2","4","6","8"]
df = pd.read_csv("2011_amis.csv", delimiter=",", usecols=columns, encoding='latin1')
df

,County,Income_Category,1,2,4,6,8
0,Alameda County\n4-Per,Extremely Low,19400,22200,27700,32150,36600
1,Alameda County\n4-Per,Very Low Income,32350,36950,46150,53550,60950
2,Alameda County\n4-Per,Lower Income,45500,52000,64950,75350,85750
3,Alameda County\n4-Per,Median Income,64600,73850,92300,107050,121850
4,Alameda County\n4-Per,Moderate Income,77550,88600,110750,128450,146200
...,...,...,...,...,...,...,...
285,Yuba County\n4-Person,Extremely Low,12350,14100,17600,20450,23250
286,Yuba County\n4-Person,Very Low Income,20550,23450,29300,34000,38700
287,Yuba County\n4-Person,Lower Income,32850,37550,46900,54450,61950
288,Yuba County\n4-Person,Median Income,41000,46900,58600,68000,77350
289,Yuba County\n4-Person,Moderate Income,49200,56250,70300,81550,92800

In [25]:
#clean county names variable
df['County'] = df['County'].str.replace(r' County\n4-Person', '')
df['County'] = df['County'].str.replace(r' County\n4-Perso', '')
df['County'] = df['County'].str.replace(r' County\n4-Pers', '')
df['County'] = df['County'].str.replace(r' County\n4-Per', '')
df['County'] = df['County'].str.replace(r' County\n4-Pe', '')
df['County'] = df['County'].str.replace(r' County\n4-P', '')
df['County'] = df['County'].str.replace(r' County\n4-', '')
df['County'] = df['County'].str.replace(r' County\n4', '')
df['County'] = df['County'].str.replace(r' County\n', '')
df['County'] = df['County'].str.replace(r' County\ ' , '')
df['County'] = df['County'].str.replace(r' County', '')
df['County'] = df['County'].str.replace(r' Count', '')
df['County'] = df['County'].str.replace(r' Coun', '')
df

      County  Income_Category      1      2       4       6       8
0    Alameda    Extremely Low  19400  22200   27700   32150   36600
1    Alameda  Very Low Income  32350  36950   46150   53550   60950
2    Alameda     Lower Income  45500  52000   64950   75350   85750
3    Alameda    Median Income  64600  73850   92300  107050  121850
4    Alameda  Moderate Income  77550  88600  110750  128450  146200
..       ...              ...    ...    ...     ...     ...     ...
285     Yuba    Extremely Low  12350  14100   17600   20450   23250
286     Yuba  Very Low Income  20550  23450   29300   34000   38700
287     Yuba     Lower Income  32850  37550   46900   54450   61950
288     Yuba    Median Income  41000  46900   58600   68000   77350
289     Yuba  Moderate Income  49200  56250   70300   81550   92800

[290 rows x 7 columns]

In [26]:
#create df for each income level and calculate max rents, rename variables
eli_df = df[df.Income_Category =="Extremely Low"].copy()
eli_df["1"]=eli_df["1"]*0.025
eli_df["2"]=eli_df["2"]*0.025
eli_df["4"]=eli_df["4"]*0.025
eli_df["6"]=eli_df["6"]*0.025
eli_df["8"]=eli_df["8"]*0.025
eli_df.rename(columns={"1":"ELI_studio","2":"ELI_1_br","4":"ELI_2_br","6":"ELI_3_br","8":"ELI_4_br"}, inplace=True)
eli_df.drop('Income_Category', axis=1, inplace=True)
eli_df

              County  ELI_studio  ELI_1_br  ELI_2_br  ELI_3_br  ELI_4_br
0            Alameda      485.00    555.00    692.50    803.75    915.00
5             Alpine      371.25    425.00    530.00    615.00    700.00
10            Amador      351.25    401.25    501.25    582.50    662.50
15             Butte      303.75    347.50    433.75    503.75    573.75
20         Calaveras      356.25    406.25    507.50    588.75    670.00
25            Colusa      301.25    343.75    428.75    497.50    566.25
30      Contra Costa      485.00    555.00    692.50    803.75    915.00
35         Del Norte      301.25    343.75    428.75    497.50    566.25
40         El Dorado      395.00    451.25    563.75    655.00    745.00
45            Fresno      301.25    343.75    428.75    497.50    566.25
50             Glenn      301.25    343.75    428.75    497.50    566.25
55          Humboldt      301.25    343.75    428.75    497.50    566.25
60          Imperial      301.25    343.75    428.75    497.50    566.25
65              Inyo      332.50    380.00    473.75    550.00    626.25
70              Kern      301.25    343.75    428.75    497.50    566.25
75             Kings      301.25    343.75    428.75    497.50    566.25
80              Lake      301.25    343.75    428.75    497.50    566.25
85            Lassen      320.00    365.00    456.25    530.00    602.50
90       Los Angeles      448.75    512.50    640.00    742.50    845.00
95            Madera      301.25    343.75    428.75    497.50    566.25
100            Marin      561.25    641.25    801.25    930.00   1058.75
105         Mariposa      308.75    352.50    440.00    511.25    581.25
110        Mendocino      303.75    347.50    433.75    503.75    573.75
115           Merced      301.25    343.75    428.75    497.50    566.25
120            Modoc      301.25    343.75    428.75    497.50    566.25
125             Mono      373.75    427.50    533.75    620.00    705.00
130         Monterey      356.25    407.50    508.75    591.25    672.50
135             Napa      446.25    510.00    637.50    740.00    842.50
140           Nevada      376.25    430.00    537.50    623.75    710.00
145           Orange      485.00    555.00    692.50    803.75    915.00
150           Placer      395.00    451.25    563.75    655.00    745.00
155           Plumas      310.00    353.75    441.25    512.50    582.50
160        Riverside      350.00    400.00    500.00    580.00    660.00
165       Sacramento      395.00    451.25    563.75    655.00    745.00
170       San Benito      411.25    470.00    587.50    682.50    776.25
175   San Bernardino      350.00    400.00    500.00    580.00    660.00
180        San Diego      430.00    491.25    613.75    712.50    811.25
185    San Francisco      561.25    641.25    801.25    930.00   1058.75
190      San Joaquin      343.75    392.50    490.00    568.75    647.50
195  San Luis Obispo      391.25    446.25    557.50    647.50    736.25
200        San Mateo      561.25    641.25    801.25    930.00   1058.75
205    Santa Barbara      380.00    435.00    542.50    630.00    716.25
210      Santa Clara      545.00    622.50    777.50    902.50   1027.50
215       Santa Cruz      530.00    605.00    756.25    877.50    998.75
220           Shasta      306.25    350.00    436.25    506.25    576.25
225           Sierra      336.25    383.75    478.75    556.25    632.50
230         Siskiyou      301.25    343.75    428.75    497.50    566.25
235           Solano      428.75    490.00    611.25    710.00    807.50
240           Sonoma      428.75    490.00    611.25    710.00    807.50
245       Stanislaus      321.25    367.50    458.75    532.50    606.25
250           Sutter      308.75    352.50    440.00    511.25    581.25
255           Tehama      301.25    343.75    428.75    497.50    566.25
260          Trinity      301.25    343.75    428.75    497.50    566.25
265           Tulare      301.25    343.75    428.75    497.50    566.25
270         Tuolumne      330.00    376.25    470.00    546.25    621.25
275          Ventura      467.50    535.00    667.50    775.00    881.25
280             Yolo      398.75    455.00    568.75    660.00    751.25
285             Yuba      308.75    352.50    440.00    511.25    581.25

In [27]:
vli_df = df[df.Income_Category =="Very Low Income"].copy()
vli_df["1"]=vli_df["1"]*0.025
vli_df["2"]=vli_df["2"]*0.025
vli_df["4"]=vli_df["4"]*0.025
vli_df["6"]=vli_df["6"]*0.025
vli_df["8"]=vli_df["8"]*0.025
vli_df.rename(columns={"1":"VLI_studio","2":"VLI_1_br","4":"VLI_2_br","6":"VLI_3_br","8":"VLI_4_br"}, inplace=True)
vli_df.drop('Income_Category', axis=1, inplace=True)
vli_df

              County  VLI_studio  VLI_1_br  VLI_2_br  VLI_3_br  VLI_4_br
1            Alameda      808.75    923.75   1153.75   1338.75   1523.75
6             Alpine      618.75    706.25    882.50   1023.75   1165.00
11            Amador      585.00    668.75    835.00    968.75   1102.50
16             Butte      507.50    580.00    723.75    840.00    956.25
21         Calaveras      592.50    676.25    845.00    981.25   1116.25
26            Colusa      501.25    572.50    715.00    830.00    945.00
31      Contra Costa      808.75    923.75   1153.75   1338.75   1523.75
36         Del Norte      501.25    572.50    715.00    830.00    945.00
41         El Dorado      657.50    751.25    938.75   1090.00   1240.00
46            Fresno      501.25    572.50    715.00    830.00    945.00
51             Glenn      501.25    572.50    715.00    830.00    945.00
56          Humboldt      501.25    572.50    715.00    830.00    945.00
61          Imperial      501.25    572.50    715.00    830.00    945.00
66              Inyo      553.75    632.50    790.00    917.50   1043.75
71              Kern      501.25    572.50    715.00    830.00    945.00
76             Kings      501.25    572.50    715.00    830.00    945.00
81              Lake      501.25    572.50    715.00    830.00    945.00
86            Lassen      533.75    610.00    761.25    883.75   1005.00
91       Los Angeles      747.50    855.00   1067.50   1238.75   1410.00
96            Madera      501.25    572.50    715.00    830.00    945.00
101            Marin      935.00   1068.75   1335.00   1548.75   1762.50
106         Mariposa      513.75    587.50    733.75    851.25    968.75
111        Mendocino      507.50    580.00    723.75    840.00    956.25
116           Merced      501.25    572.50    715.00    830.00    945.00
121            Modoc      501.25    572.50    715.00    830.00    945.00
126             Mono      622.50    711.25    888.75   1031.25   1173.75
131         Monterey      593.75    678.75    847.50    983.75   1118.75
136             Napa      743.75    850.00   1062.50   1232.50   1402.50
141           Nevada      627.50    716.25    895.00   1038.75   1182.50
146           Orange      808.75    923.75   1153.75   1338.75   1523.75
151           Placer      657.50    751.25    938.75   1090.00   1240.00
156           Plumas      516.25    590.00    736.25    855.00    972.50
161        Riverside      583.75    667.50    833.75    967.50   1101.25
166       Sacramento      657.50    751.25    938.75   1090.00   1240.00
171       San Benito      686.25    783.75    978.75   1136.25   1292.50
176   San Bernardino      583.75    667.50    833.75    967.50   1101.25
181        San Diego      717.50    820.00   1023.75   1188.75   1352.50
186    San Francisco      935.00   1068.75   1335.00   1548.75   1762.50
191      San Joaquin      572.50    655.00    817.50    948.75   1080.00
196  San Luis Obispo      651.25    745.00    930.00   1080.00   1228.75
201        San Mateo      935.00   1068.75   1335.00   1548.75   1762.50
206    Santa Barbara      633.75    723.75    903.75   1048.75   1193.75
211      Santa Clara      907.50   1036.25   1295.00   1502.50   1710.00
216       Santa Cruz      882.50   1008.75   1260.00   1462.50   1663.75
221           Shasta      510.00    582.50    727.50    845.00    961.25
226           Sierra      560.00    640.00    798.75    927.50   1055.00
231         Siskiyou      501.25    572.50    715.00    830.00    945.00
236           Solano      713.75    815.00   1018.75   1182.50   1345.00
241           Sonoma      713.75    815.00   1018.75   1182.50   1345.00
246       Stanislaus      535.00    611.25    763.75    886.25   1008.75
251           Sutter      513.75    586.25    732.50    850.00    967.50
256           Tehama      501.25    572.50    715.00    830.00    945.00
261          Trinity      501.25    572.50    715.00    830.00    945.00
266           Tulare      501.25    572.50    715.00    830.00    945.00
271         Tuolumne      548.75    626.25    782.50    908.75   1033.75
276          Ventura      778.75    890.00   1112.50   1291.25   1468.75
281             Yolo      663.75    758.75    947.50   1100.00   1251.25
286             Yuba      513.75    586.25    732.50    850.00    967.50

In [28]:
li_df = df[df.Income_Category =="Lower Income"].copy()
li_df["1"]=li_df["1"]*0.025
li_df["2"]=li_df["2"]*0.025
li_df["4"]=li_df["4"]*0.025
li_df["6"]=li_df["6"]*0.025
li_df["8"]=li_df["8"]*0.025
li_df.rename(columns={"1":"LI_studio","2":"LI_1_br","4":"LI_2_br","6":"LI_3_br","8":"LI_4_br"}, inplace=True)
li_df.drop('Income_Category', axis=1, inplace=True)
li_df

              County  LI_studio  LI_1_br  LI_2_br  LI_3_br  LI_4_br
2            Alameda    1137.50  1300.00  1623.75  1883.75  2143.75
7             Alpine     988.75  1130.00  1412.50  1638.75  1865.00
12            Amador     936.25  1070.00  1336.25  1551.25  1765.00
17             Butte     811.25   926.25  1157.50  1343.75  1528.75
22         Calaveras     946.25  1081.25  1351.25  1567.50  1783.75
27            Colusa     801.25   915.00  1143.75  1327.50  1510.00
32      Contra Costa    1137.50  1300.00  1623.75  1883.75  2143.75
37         Del Norte     801.25   915.00  1143.75  1327.50  1510.00
42         El Dorado    1052.50  1202.50  1502.50  1743.75  1983.75
47            Fresno     801.25   915.00  1143.75  1327.50  1510.00
52             Glenn     801.25   915.00  1143.75  1327.50  1510.00
57          Humboldt     801.25   915.00  1143.75  1327.50  1510.00
62          Imperial     801.25   915.00  1143.75  1327.50  1510.00
67              Inyo     885.00  1011.25  1263.75  1466.25  1668.75
72              Kern     801.25   915.00  1143.75  1327.50  1510.00
77             Kings     801.25   915.00  1143.75  1327.50  1510.00
82              Lake     801.25   915.00  1143.75  1327.50  1510.00
87            Lassen     852.50   975.00  1217.50  1412.50  1607.50
97            Madera     801.25   915.00  1143.75  1327.50  1510.00
102            Marin    1496.25  1710.00  2136.25  2478.75  2820.00
107         Mariposa     822.50   940.00  1173.75  1362.50  1550.00
112        Mendocino     811.25   926.25  1157.50  1343.75  1528.75
117           Merced     801.25   915.00  1143.75  1327.50  1510.00
122            Modoc     801.25   915.00  1143.75  1327.50  1510.00
127             Mono     996.25  1138.75  1422.50  1651.25  1878.75
132         Monterey     950.00  1085.00  1356.25  1573.75  1791.25
137             Napa    1151.25  1315.00  1643.75  1907.50  2170.00
142           Nevada    1003.75  1146.25  1432.50  1662.50  1891.25
147           Orange    1292.50  1477.50  1846.25  2142.50  2437.50
152           Placer    1052.50  1202.50  1502.50  1743.75  1983.75
157           Plumas     826.25   943.75  1178.75  1367.50  1556.25
162        Riverside     933.75  1067.50  1333.75  1547.50  1761.25
167       Sacramento    1052.50  1202.50  1502.50  1743.75  1983.75
172       San Benito    1097.50  1253.75  1566.25  1817.50  2067.50
177   San Bernardino     933.75  1067.50  1333.75  1547.50  1761.25
182        San Diego    1146.25  1310.00  1637.50  1900.00  2162.50
187    San Francisco    1496.25  1710.00  2136.25  2478.75  2820.00
192      San Joaquin     916.25  1046.25  1307.50  1517.50  1726.25
197  San Luis Obispo    1041.25  1190.00  1487.50  1726.25  1963.75
202        San Mateo    1496.25  1710.00  2136.25  2478.75  2820.00
207    Santa Barbara    1012.50  1157.50  1446.25  1678.75  1910.00
212      Santa Clara    1388.75  1587.50  1983.75  2301.25  2618.75
217       Santa Cruz    1412.50  1613.75  2016.25  2340.00  2662.50
222           Shasta     815.00   931.25  1163.75  1350.00  1536.25
227           Sierra     895.00  1022.50  1277.50  1482.50  1687.50
232         Siskiyou     801.25   915.00  1143.75  1327.50  1510.00
237           Solano    1123.75  1285.00  1605.00  1862.50  2118.75
242           Sonoma    1123.75  1285.00  1605.00  1862.50  2118.75
247       Stanislaus     856.25   978.75  1222.50  1418.75  1613.75
252           Sutter     821.25   938.75  1172.50  1361.25  1548.75
257           Tehama     801.25   915.00  1143.75  1327.50  1510.00
262          Trinity     801.25   915.00  1143.75  1327.50  1510.00
267           Tulare     801.25   915.00  1143.75  1327.50  1510.00
272         Tuolumne     877.50  1002.50  1252.50  1453.75  1653.75
277          Ventura    1246.25  1425.00  1780.00  2065.00  2350.00
282             Yolo    1062.50  1213.75  1516.25  1760.00  2002.50
287             Yuba     821.25   938.75  1172.50  1361.25  1548.75

In [29]:
mi_df = df[df.Income_Category =="Median Income"].copy()
mi_df["1"]=mi_df["1"]*0.025
mi_df["2"]=mi_df["2"]*0.025
mi_df["4"]=mi_df["4"]*0.025
mi_df["6"]=mi_df["6"]*0.025
mi_df["8"]=mi_df["8"]*0.025
mi_df.rename(columns={"1":"MI_studio","2":"MI_1_br","4":"MI_2_br","6":"MI_3_br","8":"MI_4_br"}, inplace=True)
mi_df.drop('Income_Category', axis=1, inplace=True)
mi_df

              County  MI_studio  MI_1_br  MI_2_br  MI_3_br  MI_4_br
3            Alameda    1615.00  1846.25  2307.50  2676.25  3046.25
8             Alpine    1462.50  1672.50  2090.00  2425.00  2758.75
13            Amador    1168.75  1336.25  1670.00  1937.50  2205.00
18             Butte    1013.75  1157.50  1447.50  1678.75  1911.25
23         Calaveras    1203.75  1376.25  1720.00  1995.00  2270.00
28            Colusa    1001.25  1143.75  1430.00  1658.75  1887.50
33      Contra Costa    1615.00  1846.25  2307.50  2676.25  3046.25
38         Del Norte    1001.25  1143.75  1430.00  1658.75  1887.50
43         El Dorado    1313.75  1502.50  1877.50  2177.50  2478.75
48            Fresno    1001.25  1143.75  1430.00  1658.75  1887.50
53             Glenn    1001.25  1143.75  1430.00  1658.75  1887.50
58          Humboldt    1001.25  1143.75  1430.00  1658.75  1887.50
63          Imperial    1001.25  1143.75  1430.00  1658.75  1887.50
68              Inyo    1130.00  1292.50  1615.00  1873.75  2131.25
73              Kern    1001.25  1143.75  1430.00  1658.75  1887.50
78             Kings    1001.25  1143.75  1430.00  1658.75  1887.50
83              Lake    1001.25  1143.75  1430.00  1658.75  1887.50
88            Lassen    1066.25  1217.50  1522.50  1766.25  2010.00
93       Los Angeles    1120.00  1280.00  1600.00  1856.25  2112.50
98            Madera    1001.25  1143.75  1430.00  1658.75  1887.50
103            Marin    1777.50  2032.50  2540.00  2946.25  3352.50
108         Mariposa    1027.50  1173.75  1467.50  1702.50  1937.50
113        Mendocino    1001.25  1143.75  1430.00  1658.75  1887.50
118           Merced    1001.25  1143.75  1430.00  1658.75  1887.50
123            Modoc    1001.25  1143.75  1430.00  1658.75  1887.50
128             Mono    1303.75  1490.00  1862.50  2160.00  2458.75
133         Monterey    1186.25  1356.25  1695.00  1966.25  2237.50
138             Napa    1487.50  1700.00  2125.00  2465.00  2805.00
143           Nevada    1252.50  1432.50  1790.00  2076.25  2362.50
148           Orange    1473.75  1683.75  2105.00  2441.25  2778.75
153           Placer    1313.75  1502.50  1877.50  2177.50  2478.75
158           Plumas    1001.25  1143.75  1430.00  1658.75  1887.50
163        Riverside    1093.75  1250.00  1562.50  1812.50  2062.50
168       Sacramento    1313.75  1502.50  1877.50  2177.50  2478.75
173       San Benito    1370.00  1566.25  1957.50  2271.25  2583.75
178   San Bernardino    1093.75  1250.00  1562.50  1812.50  2062.50
183        San Diego    1311.25  1497.50  1872.50  2172.50  2471.25
188    San Francisco    1777.50  2032.50  2540.00  2946.25  3352.50
193      San Joaquin    1145.00  1307.50  1635.00  1896.25  2158.75
198  San Luis Obispo    1302.50  1487.50  1860.00  2157.50  2455.00
203        San Mateo    1777.50  2032.50  2540.00  2946.25  3352.50
208    Santa Barbara    1265.00  1446.25  1807.50  2096.25  2386.25
213      Santa Clara    1812.50  2072.50  2590.00  3005.00  3418.75
218       Santa Cruz    1501.25  1716.25  2145.00  2488.75  2831.25
223           Shasta    1018.75  1163.75  1455.00  1687.50  1920.00
228           Sierra    1241.25  1417.50  1772.50  2056.25  2340.00
233         Siskiyou    1001.25  1143.75  1430.00  1658.75  1887.50
238           Solano    1426.25  1630.00  2037.50  2363.75  2690.00
243           Sonoma    1426.25  1630.00  2037.50  2363.75  2690.00
248       Stanislaus    1068.75  1222.50  1527.50  1772.50  2016.25
253           Sutter    1025.00  1172.50  1465.00  1700.00  1933.75
258           Tehama    1001.25  1143.75  1430.00  1658.75  1887.50
263          Trinity    1001.25  1143.75  1430.00  1658.75  1887.50
268           Tulare    1001.25  1143.75  1430.00  1658.75  1887.50
273         Tuolumne    1151.25  1316.25  1645.00  1908.75  2171.25
278          Ventura    1541.25  1762.50  2202.50  2555.00  2907.50
283             Yolo    1326.25  1516.25  1895.00  2198.75  2501.25
288             Yuba    1025.00  1172.50  1465.00  1700.00  1933.75

In [30]:
moi_df = df[df.Income_Category =="Moderate Income"].copy()
moi_df["1"]=moi_df["1"]*0.025
moi_df["2"]=moi_df["2"]*0.025
moi_df["4"]=moi_df["4"]*0.025
moi_df["6"]=moi_df["6"]*0.025
moi_df["8"]=moi_df["8"]*0.025
moi_df.rename(columns={"1":"MoI_studio","2":"MoI_1_br","4":"MoI_2_br","6":"MoI_3_br","8":"MoI_4_br"}, inplace=True)
moi_df.drop('Income_Category', axis=1, inplace=True)
moi_df

              County  MoI_studio  MoI_1_br  MoI_2_br  MoI_3_br  MoI_4_br
4            Alameda     1938.75   2215.00   2768.75   3211.25   3655.00
9             Alpine     1755.00   2006.25   2507.50   2908.75   3310.00
14            Amador     1402.50   1602.50   2003.75   2323.75   2645.00
19             Butte     1216.25   1390.00   1737.50   2015.00   2293.75
24         Calaveras     1445.00   1651.25   2063.75   2393.75   2723.75
29            Colusa     1201.25   1372.50   1716.25   1991.25   2265.00
34      Contra Costa     1938.75   2215.00   2768.75   3211.25   3655.00
39         Del Norte     1201.25   1372.50   1716.25   1991.25   2265.00
44         El Dorado     1576.25   1802.50   2252.50   2612.50   2973.75
49            Fresno     1201.25   1372.50   1716.25   1991.25   2265.00
54             Glenn     1201.25   1372.50   1716.25   1991.25   2265.00
59          Humboldt     1201.25   1372.50   1716.25   1991.25   2265.00
64          Imperial     1201.25   1372.50   1716.25   1991.25   2265.00
69              Inyo     1356.25   1550.00   1937.50   2247.50   2557.50
74              Kern     1201.25   1372.50   1716.25   1991.25   2265.00
79             Kings     1201.25   1372.50   1716.25   1991.25   2265.00
84              Lake     1201.25   1372.50   1716.25   1991.25   2265.00
89            Lassen     1278.75   1462.50   1827.50   2120.00   2412.50
94       Los Angeles     1343.75   1536.25   1920.00   2227.50   2535.00
99            Madera     1201.25   1372.50   1716.25   1991.25   2265.00
104            Marin     2133.75   2437.50   3047.50   3535.00   4022.50
109         Mariposa     1232.50   1408.75   1761.25   2042.50   2325.00
114        Mendocino     1201.25   1372.50   1716.25   1991.25   2265.00
119           Merced     1201.25   1372.50   1716.25   1991.25   2265.00
124            Modoc     1201.25   1372.50   1716.25   1991.25   2265.00
129             Mono     1565.00   1787.50   2235.00   2592.50   2950.00
134         Monterey     1423.75   1627.50   2033.75   2358.75   2685.00
139             Napa     1785.00   2040.00   2550.00   2957.50   3366.25
144           Nevada     1503.75   1717.50   2147.50   2491.25   2835.00
149           Orange     1768.75   2021.25   2526.25   2930.00   3335.00
154           Placer     1576.25   1802.50   2252.50   2612.50   2973.75
159           Plumas     1201.25   1372.50   1716.25   1991.25   2265.00
164        Riverside     1312.50   1500.00   1875.00   2175.00   2475.00
169       Sacramento     1576.25   1802.50   2252.50   2612.50   2973.75
174       San Benito     1643.75   1878.75   2348.75   2725.00   3100.00
179   San Bernardino     1312.50   1500.00   1875.00   2175.00   2475.00
184        San Diego     1573.75   1797.50   2247.50   2607.50   2966.25
189    San Francisco     2133.75   2437.50   3047.50   3535.00   4022.50
194      San Joaquin     1373.75   1570.00   1962.50   2276.25   2590.00
199  San Luis Obispo     1562.50   1786.25   2232.50   2590.00   2947.50
204        San Mateo     2133.75   2437.50   3047.50   3535.00   4022.50
209    Santa Barbara     1517.50   1735.00   2168.75   2516.25   2862.50
214      Santa Clara     2175.00   2486.25   3107.50   3605.00   4102.50
219       Santa Cruz     1801.25   2058.75   2573.75   2985.00   3397.50
224           Shasta     1222.50   1397.50   1746.25   2026.25   2305.00
229           Sierra     1488.75   1702.50   2127.50   2467.50   2808.75
234         Siskiyou     1201.25   1372.50   1716.25   1991.25   2265.00
239           Solano     1711.25   1956.25   2445.00   2836.25   3227.50
244           Sonoma     1711.25   1956.25   2445.00   2836.25   3227.50
249       Stanislaus     1282.50   1466.25   1832.50   2126.25   2418.75
254           Sutter     1230.00   1406.25   1757.50   2038.75   2320.00
259           Tehama     1201.25   1372.50   1716.25   1991.25   2265.00
264          Trinity     1201.25   1372.50   1716.25   1991.25   2265.00
269           Tulare     1201.25   1372.50   1716.25   1991.25   2265.00
274         Tuolumne     1381.25   1578.75   1973.75   2290.00   2605.00
279          Ventura     1850.00   2113.75   2642.50   3065.00   3487.50
284             Yolo     1591.25   1818.75   2273.75   2637.50   3001.25
289             Yuba     1230.00   1406.25   1757.50   2038.75   2320.00

In [31]:
#combine dfs
all_amis_df=eli_df.merge(vli_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(li_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(mi_df, how='left', left_on = "County",right_on = "County")
all_amis_df=all_amis_df.merge(moi_df, how='left', left_on = "County",right_on = "County")
all_amis_df

,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br
0,Alameda,485.00,555.00,692.50,803.75,915.00,808.75,923.75,1153.75,1338.75,1523.75,1137.50,1300.00,1623.75,1883.75,2143.75,1615.00,1846.25,2307.50,2676.25,3046.25,1938.75,2215.00,2768.75,3211.25,3655.00
1,Alpine,371.25,425.00,530.00,615.00,700.00,618.75,706.25,882.50,1023.75,1165.00,988.75,1130.00,1412.50,1638.75,1865.00,1462.50,1672.50,2090.00,2425.00,2758.75,1755.00,2006.25,2507.50,2908.75,3310.00
2,Amador,351.25,401.25,501.25,582.50,662.50,585.00,668.75,835.00,968.75,1102.50,936.25,1070.00,1336.25,1551.25,1765.00,1168.75,1336.25,1670.00,1937.50,2205.00,1402.50,1602.50,2003.75,2323.75,2645.00
3,Butte,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1013.75,1157.50,1447.50,1678.75,1911.25,1216.25,1390.00,1737.50,2015.00,2293.75
4,Calaveras,356.25,406.25,507.50,588.75,670.00,592.50,676.25,845.00,981.25,1116.25,946.25,1081.25,1351.25,1567.50,1783.75,1203.75,1376.25,1720.00,1995.00,2270.00,1445.00,1651.25,2063.75,2393.75,2723.75
5,Colusa,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
6,Contra Costa,485.00,555.00,692.50,803.75,915.00,808.75,923.75,1153.75,1338.75,1523.75,1137.50,1300.00,1623.75,1883.75,2143.75,1615.00,1846.25,2307.50,2676.25,3046.25,1938.75,2215.00,2768.75,3211.25,3655.00
7,Del Norte,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
8,El Dorado,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75
9,Fresno,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
10,Glenn,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
11,Humboldt,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
12,Imperial,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
13,Inyo,332.50,380.00,473.75,550.00,626.25,553.75,632.50,790.00,917.50,1043.75,885.00,1011.25,1263.75,1466.25,1668.75,1130.00,1292.50,1615.00,1873.75,2131.25,1356.25,1550.00,1937.50,2247.50,2557.50
14,Kern,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
15,Kings,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
16,Lake,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
17,Lassen,320.00,365.00,456.25,530.00,602.50,533.75,610.00,761.25,883.75,1005.00,852.50,975.00,1217.50,1412.50,1607.50,1066.25,1217.50,1522.50,1766.25,2010.00,1278.75,1462.50,1827.50,2120.00,2412.50
18,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,nan,nan,nan,nan,nan,1120.00,1280.00,1600.00,1856.25,2112.50,1343.75,1536.25,1920.00,2227.50,2535.00
19,Madera,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
20,Marin,561.25,641.25,801.25,930.00,1058.75,935.00,1068.75,1335.00,1548.75,1762.50,1496.25,1710.00,2136.25,2478.75,2820.00,1777.50,2032.50,2540.00,2946.25,3352.50,2133.75,2437.50,3047.50,3535.00,4022.50
21,Mariposa,308.75,352.50,440.00,511.25,581.25,513.75,587.50,733.75,851.25,968.75,822.50,940.00,1173.75,1362.50,1550.00,1027.50,1173.75,1467.50,1702.50,1937.50,1232.50,1408.75,1761.25,2042.50,2325.00
22,Mendocino,303.75,347.50,433.75,503.75,573.75,507.50,580.00,723.75,840.00,956.25,811.25,926.25,1157.50,1343.75,1528.75,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
23,Merced,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
24,Modoc,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
25,Mono,373.75,427.50,533.75,620.00,705.00,622.50,711.25,888.75,1031.25,1173.75,996.25,1138.75,1422.50,1651.25,1878.75,1303.75,1490.00,1862.50,2160.00,2458.75,1565.00,1787.50,2235.00,2592.50,2950.00
26,Monterey,356.25,407.50,508.75,591.25,672.50,593.75,678.75,847.50,983.75,1118.75,950.00,1085.00,1356.25,1573.75,1791.25,1186.25,1356.25,1695.00,1966.25,2237.50,1423.75,1627.50,2033.75,2358.75,2685.00
27,Napa,446.25,510.00,637.50,740.00,842.50,743.75,850.00,1062.50,1232.50,1402.50,1151.25,1315.00,1643.75,1907.50,2170.00,1487.50,1700.00,2125.00,2465.00,2805.00,1785.00,2040.00,2550.00,2957.50,3366.25
28,Nevada,376.25,430.00,537.50,623.75,710.00,627.50,716.25,895.00,1038.75,1182.50,1003.75,1146.25,1432.50,1662.50,1891.25,1252.50,1432.50,1790.00,2076.25,2362.50,1503.75,1717.50,2147.50,2491.25,2835.00
29,Orange,485.00,555.00,692.50,803.75,915.00,808.75,923.75,1153.75,1338.75,1523.75,1292.50,1477.50,1846.25,2142.50,2437.50,1473.75,1683.75,2105.00,2441.25,2778.75,1768.75,2021.25,2526.25,2930.00,3335.00
30,Placer,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75
31,Plumas,310.00,353.75,441.25,512.50,582.50,516.25,590.00,736.25,855.00,972.50,826.25,943.75,1178.75,1367.50,1556.25,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
32,Riverside,350.00,400.00,500.00,580.00,660.00,583.75,667.50,833.75,967.50,1101.25,933.75,1067.50,1333.75,1547.50,1761.25,1093.75,1250.00,1562.50,1812.50,2062.50,1312.50,1500.00,1875.00,2175.00,2475.00
33,Sacramento,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75
34,San Benito,411.25,470.00,587.50,682.50,776.25,686.25,783.75,978.75,1136.25,1292.50,1097.50,1253.75,1566.25,1817.50,2067.50,1370.00,1566.25,1957.50,2271.25,2583.75,1643.75,1878.75,2348.75,2725.00,3100.00
35,San Bernardino,350.00,400.00,500.00,580.00,660.00,583.75,667.50,833.75,967.50,1101.25,933.75,1067.50,1333.75,1547.50,1761.25,1093.75,1250.00,1562.50,1812.50,2062.50,1312.50,1500.00,1875.00,2175.00,2475.00
36,San Diego,430.00,491.25,613.75,712.50,811.25,717.50,820.00,1023.75,1188.75,1352.50,1146.25,1310.00,1637.50,1900.00,2162.50,1311.25,1497.50,1872.50,2172.50,2471.25,1573.75,1797.50,2247.50,2607.50,2966.25
37,San Francisco,561.25,641.25,801.25,930.00,1058.75,935.00,1068.75,1335.00,1548.75,1762.50,1496.25,1710.00,2136.25,2478.75,2820.00,1777.50,2032.50,2540.00,2946.25,3352.50,2133.75,2437.50,3047.50,3535.00,4022.50
38,San Joaquin,343.75,392.50,490.00,568.75,647.50,572.50,655.00,817.50,948.75,1080.00,916.25,1046.25,1307.50,1517.50,1726.25,1145.00,1307.50,1635.00,1896.25,2158.75,1373.75,1570.00,1962.50,2276.25,2590.00
39,San Luis Obispo,391.25,446.25,557.50,647.50,736.25,651.25,745.00,930.00,1080.00,1228.75,1041.25,1190.00,1487.50,1726.25,1963.75,1302.50,1487.50,1860.00,2157.50,2455.00,1562.50,1786.25,2232.50,2590.00,2947.50
40,San Mateo,561.25,641.25,801.25,930.00,1058.75,935.00,1068.75,1335.00,1548.75,1762.50,1496.25,1710.00,2136.25,2478.75,2820.00,1777.50,2032.50,2540.00,2946.25,3352.50,2133.75,2437.50,3047.50,3535.00,4022.50
41,Santa Barbara,380.00,435.00,542.50,630.00,716.25,633.75,723.75,903.75,1048.75,1193.75,1012.50,1157.50,1446.25,1678.75,1910.00,1265.00,1446.25,1807.50,2096.25,2386.25,1517.50,1735.00,2168.75,2516.25,2862.50
42,Santa Clara,545.00,622.50,777.50,902.50,1027.50,907.50,1036.25,1295.00,1502.50,1710.00,1388.75,1587.50,1983.75,2301.25,2618.75,1812.50,2072.50,2590.00,3005.00,3418.75,2175.00,2486.25,3107.50,3605.00,4102.50
43,Santa Cruz,530.00,605.00,756.25,877.50,998.75,882.50,1008.75,1260.00,1462.50,1663.75,1412.50,1613.75,2016.25,2340.00,2662.50,1501.25,1716.25,2145.00,2488.75,2831.25,1801.25,2058.75,2573.75,2985.00,3397.50
44,Shasta,306.25,350.00,436.25,506.25,576.25,510.00,582.50,727.50,845.00,961.25,815.00,931.25,1163.75,1350.00,1536.25,1018.75,1163.75,1455.00,1687.50,1920.00,1222.50,1397.50,1746.25,2026.25,2305.00
45,Sierra,336.25,383.75,478.75,556.25,632.50,560.00,640.00,798.75,927.50,1055.00,895.00,1022.50,1277.50,1482.50,1687.50,1241.25,1417.50,1772.50,2056.25,2340.00,1488.75,1702.50,2127.50,2467.50,2808.75
46,Siskiyou,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
47,Solano,428.75,490.00,611.25,710.00,807.50,713.75,815.00,1018.75,1182.50,1345.00,1123.75,1285.00,1605.00,1862.50,2118.75,1426.25,1630.00,2037.50,2363.75,2690.00,1711.25,1956.25,2445.00,2836.25,3227.50
48,Sonoma,428.75,490.00,611.25,710.00,807.50,713.75,815.00,1018.75,1182.50,1345.00,1123.75,1285.00,1605.00,1862.50,2118.75,1426.25,1630.00,2037.50,2363.75,2690.00,1711.25,1956.25,2445.00,2836.25,3227.50
49,Stanislaus,321.25,367.50,458.75,532.50,606.25,535.00,611.25,763.75,886.25,1008.75,856.25,978.75,1222.50,1418.75,1613.75,1068.75,1222.50,1527.50,1772.50,2016.25,1282.50,1466.25,1832.50,2126.25,2418.75
50,Sutter,308.75,352.50,440.00,511.25,581.25,513.75,586.25,732.50,850.00,967.50,821.25,938.75,1172.50,1361.25,1548.75,1025.00,1172.50,1465.00,1700.00,1933.75,1230.00,1406.25,1757.50,2038.75,2320.00
51,Tehama,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
52,Trinity,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
53,Tulare,301.25,343.75,428.75,497.50,566.25,501.25,572.50,715.00,830.00,945.00,801.25,915.00,1143.75,1327.50,1510.00,1001.25,1143.75,1430.00,1658.75,1887.50,1201.25,1372.50,1716.25,1991.25,2265.00
54,Tuolumne,330.00,376.25,470.00,546.25,621.25,548.75,626.25,782.50,908.75,1033.75,877.50,1002.50,1252.50,1453.75,1653.75,1151.25,1316.25,1645.00,1908.75,2171.25,1381.25,1578.75,1973.75,2290.00,2605.00
55,Ventura,467.50,535.00,667.50,775.00,881.25,778.75,890.00,1112.50,1291.25,1468.75,1246.25,1425.00,1780.00,2065.00,2350.00,1541.25,1762.50,2202.50,2555.00,2907.50,1850.00,2113.75,2642.50,3065.00,3487.50
56,Yolo,398.75,455.00,568.75,660.00,751.25,663.75,758.75,947.50,1100.00,1251.25,1062.50,1213.75,1516.25,1760.00,2002.50,1326.25,1516.25,1895.00,2198.75,2501.25,1591.25,1818.75,2273.75,2637.50,3001.25
57,Yuba,308.75,352.50,440.00,511.25,581.25,513.75,586.25,732.50,850.00,967.50,821.25,938.75,1172.50,1361.25,1548.75,1025.00,1172.50,1465.00,1700.00,1933.75,1230.00,1406.25,1757.50,2038.75,2320.00

## Part A4. Add count dummies for each unit based on income and unit type

In [32]:
# merge datasets
units_df=puma_county_df.merge(all_amis_df, how='left', left_on = "County",right_on = "County")
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [33]:
# create filter masks for each affordability and unit type
ELI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["ELI_studio"])
ELI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["ELI_1_br"])
ELI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["ELI_2_br"])
ELI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["ELI_3_br"])
ELI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["ELI_4_br"])
VLI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["VLI_studio"])
VLI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["VLI_1_br"])
VLI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["VLI_2_br"])
VLI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["VLI_3_br"])
VLI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["VLI_4_br"])
LI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["LI_studio"])
LI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["LI_1_br"])
LI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["LI_2_br"])
LI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["LI_3_br"])
LI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["LI_4_br"])
MI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["MI_studio"])
MI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["MI_1_br"])
MI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["MI_2_br"])
MI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["MI_3_br"])
MI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["MI_4_br"])
MoI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']<=units_df["MoI_studio"])
MoI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']<=units_df["MoI_1_br"])
MoI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']<=units_df["MoI_2_br"])
MoI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']<=units_df["MoI_3_br"])
MoI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']<=units_df["MoI_4_br"])
HI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['monthly_rent']>=units_df["MoI_studio"])
HI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['monthly_rent']>=units_df["MoI_1_br"])
HI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['monthly_rent']>=units_df["MoI_2_br"])
HI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['monthly_rent']>=units_df["MoI_3_br"])
HI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['monthly_rent']>=units_df["MoI_4_br"])

# apply filter masks to create dummy variables
units_df['rent_ELI_studio_count']=np.where(ELI_studio_mask,1,0)
units_df['rent_ELI_1_br_count']=np.where(ELI_1_br_mask,1,0)
units_df['rent_ELI_2_br_count']=np.where(ELI_2_br_mask,1,0)
units_df['rent_ELI_3_br_count']=np.where(ELI_3_br_mask,1,0)
units_df['rent_ELI_4_br_count']=np.where(ELI_4_br_mask,1,0)
units_df['rent_VLI_studio_count']=np.where(VLI_studio_mask,1,0)
units_df['rent_VLI_1_br_count']=np.where(VLI_1_br_mask,1,0)
units_df['rent_VLI_2_br_count']=np.where(VLI_2_br_mask,1,0)
units_df['rent_VLI_3_br_count']=np.where(VLI_3_br_mask,1,0)
units_df['rent_VLI_4_br_count']=np.where(VLI_4_br_mask,1,0)
units_df['rent_LI_studio_count']=np.where(LI_studio_mask,1,0)
units_df['rent_LI_1_br_count']=np.where(LI_1_br_mask,1,0)
units_df['rent_LI_2_br_count']=np.where(LI_2_br_mask,1,0)
units_df['rent_LI_3_br_count']=np.where(LI_3_br_mask,1,0)
units_df['rent_LI_4_br_count']=np.where(LI_4_br_mask,1,0)
units_df['rent_MI_studio_count']=np.where(MI_studio_mask,1,0)
units_df['rent_MI_1_br_count']=np.where(MI_1_br_mask,1,0)
units_df['rent_MI_2_br_count']=np.where(MI_2_br_mask,1,0)
units_df['rent_MI_3_br_count']=np.where(MI_3_br_mask,1,0)
units_df['rent_MI_4_br_count']=np.where(MI_4_br_mask,1,0)
units_df['rent_MoI_studio_count']=np.where(MoI_studio_mask,1,0)
units_df['rent_MoI_1_br_count']=np.where(MoI_1_br_mask,1,0)
units_df['rent_MoI_2_br_count']=np.where(MoI_2_br_mask,1,0)
units_df['rent_MoI_3_br_count']=np.where(MoI_3_br_mask,1,0)
units_df['rent_MoI_4_br_count']=np.where(MoI_4_br_mask,1,0)
units_df['rent_HI_studio_count']=np.where(HI_studio_mask,1,0)
units_df['rent_HI_1_br_count']=np.where(HI_1_br_mask,1,0)
units_df['rent_HI_2_br_count']=np.where(HI_2_br_mask,1,0)
units_df['rent_HI_3_br_count']=np.where(HI_3_br_mask,1,0)
units_df['rent_HI_4_br_count']=np.where(HI_4_br_mask,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Part B1. Calculate total monthly housing cost by adding monthly first mortgage, second/junior mortgage, and condo fees

In [34]:
units_df['own_monthly_cost']=units_df['first_mortgage'] + units_df['second_mortgage'] + units_df['condo_fee'] + (units_df['prop_tax']/12)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan

# Part B2. Add count dummies for each unit based on income and unit type

In [35]:
# create filter masks for each affordability and unit type
ELI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["ELI_studio"])
ELI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["ELI_1_br"])
ELI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["ELI_2_br"])
ELI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["ELI_3_br"])
ELI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["ELI_4_br"])
VLI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["VLI_studio"])
VLI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["VLI_1_br"])
VLI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["VLI_2_br"])
VLI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["VLI_3_br"])
VLI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["VLI_4_br"])
LI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["LI_studio"])
LI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["LI_1_br"])
LI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["LI_2_br"])
LI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["LI_3_br"])
LI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["LI_4_br"])
MI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["MI_studio"])
MI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["MI_1_br"])
MI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["MI_2_br"])
MI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["MI_3_br"])
MI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["MI_4_br"])
MoI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']<=units_df["MoI_studio"])
MoI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']<=units_df["MoI_1_br"])
MoI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']<=units_df["MoI_2_br"])
MoI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']<=units_df["MoI_3_br"])
MoI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']<=units_df["MoI_4_br"])
HI_studio_mask=(units_df['number_bedrooms']==0)&(units_df['own_monthly_cost']>=units_df["MoI_studio"])
HI_1_br_mask=(units_df['number_bedrooms']==1)&(units_df['own_monthly_cost']>=units_df["MoI_1_br"])
HI_2_br_mask=(units_df['number_bedrooms']==2)&(units_df['own_monthly_cost']>=units_df["MoI_2_br"])
HI_3_br_mask=(units_df['number_bedrooms']==3)&(units_df['own_monthly_cost']>=units_df["MoI_3_br"])
HI_4_br_mask=(units_df['number_bedrooms']==4)&(units_df['own_monthly_cost']>=units_df["MoI_4_br"])

# apply filter masks to create dummy variables
units_df['own_ELI_studio_count']=np.where(ELI_studio_mask,1,0)
units_df['own_ELI_1_br_count']=np.where(ELI_1_br_mask,1,0)
units_df['own_ELI_2_br_count']=np.where(ELI_2_br_mask,1,0)
units_df['own_ELI_3_br_count']=np.where(ELI_3_br_mask,1,0)
units_df['own_ELI_4_br_count']=np.where(ELI_4_br_mask,1,0)
units_df['own_VLI_studio_count']=np.where(VLI_studio_mask,1,0)
units_df['own_VLI_1_br_count']=np.where(VLI_1_br_mask,1,0)
units_df['own_VLI_2_br_count']=np.where(VLI_2_br_mask,1,0)
units_df['own_VLI_3_br_count']=np.where(VLI_3_br_mask,1,0)
units_df['own_VLI_4_br_count']=np.where(VLI_4_br_mask,1,0)
units_df['own_LI_studio_count']=np.where(LI_studio_mask,1,0)
units_df['own_LI_1_br_count']=np.where(LI_1_br_mask,1,0)
units_df['own_LI_2_br_count']=np.where(LI_2_br_mask,1,0)
units_df['own_LI_3_br_count']=np.where(LI_3_br_mask,1,0)
units_df['own_LI_4_br_count']=np.where(LI_4_br_mask,1,0)
units_df['own_MI_studio_count']=np.where(MI_studio_mask,1,0)
units_df['own_MI_1_br_count']=np.where(MI_1_br_mask,1,0)
units_df['own_MI_2_br_count']=np.where(MI_2_br_mask,1,0)
units_df['own_MI_3_br_count']=np.where(MI_3_br_mask,1,0)
units_df['own_MI_4_br_count']=np.where(MI_4_br_mask,1,0)
units_df['own_MoI_studio_count']=np.where(MoI_studio_mask,1,0)
units_df['own_MoI_1_br_count']=np.where(MoI_1_br_mask,1,0)
units_df['own_MoI_2_br_count']=np.where(MoI_2_br_mask,1,0)
units_df['own_MoI_3_br_count']=np.where(MoI_3_br_mask,1,0)
units_df['own_MoI_4_br_count']=np.where(MoI_4_br_mask,1,0)
units_df['own_HI_studio_count']=np.where(HI_studio_mask,1,0)
units_df['own_HI_1_br_count']=np.where(HI_1_br_mask,1,0)
units_df['own_HI_2_br_count']=np.where(HI_2_br_mask,1,0)
units_df['own_HI_3_br_count']=np.where(HI_3_br_mask,1,0)
units_df['own_HI_4_br_count']=np.where(HI_4_br_mask,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Part C1. Multiply each dummy by the the household weight variable

In [36]:
units_df.rent_ELI_studio_count=units_df.rent_ELI_studio_count*units_df.weight
units_df.rent_ELI_1_br_count=units_df.rent_ELI_1_br_count*units_df.weight
units_df.rent_ELI_2_br_count=units_df.rent_ELI_2_br_count*units_df.weight
units_df.rent_ELI_3_br_count=units_df.rent_ELI_3_br_count*units_df.weight
units_df.rent_ELI_4_br_count=units_df.rent_ELI_4_br_count*units_df.weight
units_df.rent_VLI_studio_count=units_df.rent_VLI_studio_count*units_df.weight
units_df.rent_VLI_1_br_count=units_df.rent_VLI_1_br_count*units_df.weight
units_df.rent_VLI_2_br_count=units_df.rent_VLI_2_br_count*units_df.weight
units_df.rent_VLI_3_br_count=units_df.rent_VLI_3_br_count*units_df.weight
units_df.rent_VLI_4_br_count=units_df.rent_VLI_4_br_count*units_df.weight
units_df.rent_LI_studio_count=units_df.rent_LI_studio_count*units_df.weight
units_df.rent_LI_1_br_count=units_df.rent_LI_1_br_count*units_df.weight
units_df.rent_LI_2_br_count=units_df.rent_LI_2_br_count*units_df.weight
units_df.rent_LI_3_br_count=units_df.rent_LI_3_br_count*units_df.weight
units_df.rent_LI_4_br_count=units_df.rent_LI_4_br_count*units_df.weight
units_df.rent_MI_studio_count=units_df.rent_MI_studio_count*units_df.weight
units_df.rent_MI_1_br_count=units_df.rent_MI_1_br_count*units_df.weight
units_df.rent_MI_2_br_count=units_df.rent_MI_2_br_count*units_df.weight
units_df.rent_MI_3_br_count=units_df.rent_MI_3_br_count*units_df.weight
units_df.rent_MI_4_br_count=units_df.rent_MI_4_br_count*units_df.weight
units_df.rent_MoI_studio_count=units_df.rent_MoI_studio_count*units_df.weight
units_df.rent_MoI_1_br_count=units_df.rent_MoI_1_br_count*units_df.weight
units_df.rent_MoI_2_br_count=units_df.rent_MoI_2_br_count*units_df.weight
units_df.rent_MoI_3_br_count=units_df.rent_MoI_3_br_count*units_df.weight
units_df.rent_MoI_4_br_count=units_df.rent_MoI_4_br_count*units_df.weight
units_df.rent_HI_studio_count=units_df.rent_HI_studio_count*units_df.weight
units_df.rent_HI_1_br_count=units_df.rent_HI_1_br_count*units_df.weight
units_df.rent_HI_2_br_count=units_df.rent_HI_2_br_count*units_df.weight
units_df.rent_HI_3_br_count=units_df.rent_HI_3_br_count*units_df.weight
units_df.rent_HI_4_br_count=units_df.rent_HI_4_br_count*units_df.weight
units_df.own_ELI_studio_count=units_df.own_ELI_studio_count*units_df.weight
units_df.own_ELI_1_br_count=units_df.own_ELI_1_br_count*units_df.weight
units_df.own_ELI_2_br_count=units_df.own_ELI_2_br_count*units_df.weight
units_df.own_ELI_3_br_count=units_df.own_ELI_3_br_count*units_df.weight
units_df.own_ELI_4_br_count=units_df.own_ELI_4_br_count*units_df.weight
units_df.own_VLI_studio_count=units_df.own_VLI_studio_count*units_df.weight
units_df.own_VLI_1_br_count=units_df.own_VLI_1_br_count*units_df.weight
units_df.own_VLI_2_br_count=units_df.own_VLI_2_br_count*units_df.weight
units_df.own_VLI_3_br_count=units_df.own_VLI_3_br_count*units_df.weight
units_df.own_VLI_4_br_count=units_df.own_VLI_4_br_count*units_df.weight
units_df.own_LI_studio_count=units_df.own_LI_studio_count*units_df.weight
units_df.own_LI_1_br_count=units_df.own_LI_1_br_count*units_df.weight
units_df.own_LI_2_br_count=units_df.own_LI_2_br_count*units_df.weight
units_df.own_LI_3_br_count=units_df.own_LI_3_br_count*units_df.weight
units_df.own_LI_4_br_count=units_df.own_LI_4_br_count*units_df.weight
units_df.own_MI_studio_count=units_df.own_MI_studio_count*units_df.weight
units_df.own_MI_1_br_count=units_df.own_MI_1_br_count*units_df.weight
units_df.own_MI_2_br_count=units_df.own_MI_2_br_count*units_df.weight
units_df.own_MI_3_br_count=units_df.own_MI_3_br_count*units_df.weight
units_df.own_MI_4_br_count=units_df.own_MI_4_br_count*units_df.weight
units_df.own_MoI_studio_count=units_df.own_MoI_studio_count*units_df.weight
units_df.own_MoI_1_br_count=units_df.own_MoI_1_br_count*units_df.weight
units_df.own_MoI_2_br_count=units_df.own_MoI_2_br_count*units_df.weight
units_df.own_MoI_3_br_count=units_df.own_MoI_3_br_count*units_df.weight
units_df.own_MoI_4_br_count=units_df.own_MoI_4_br_count*units_df.weight
units_df.own_HI_studio_count=units_df.own_HI_studio_count*units_df.weight
units_df.own_HI_1_br_count=units_df.own_HI_1_br_count*units_df.weight
units_df.own_HI_2_br_count=units_df.own_HI_2_br_count*units_df.weight
units_df.own_HI_3_br_count=units_df.own_HI_3_br_count*units_df.weight
units_df.own_HI_4_br_count=units_df.own_HI_4_br_count*units_df.weight
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [37]:
units_df[units_df.rent_HI_4_br_count>0]

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
2018,H,6102,310.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3500.00,24.00,175000.00,1.00,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,310.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18884,H,6702,65.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3540.00,19.00,223700.00,5.00,nan,Sacramento CA,NaN,NaN,NaN,NaN,NaN,NaN,Sacramento,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,65.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
45746,H,6702,262.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3577.00,25.00,171000.00,4.00,nan,Sacramento CA,NaN,NaN,NaN,NaN,NaN,NaN,Sacramento,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,262.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
63250,H,5500,268.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3537.00,18.00,236000.00,1.00,nan,Napa CA,NaN,NaN,NaN,NaN,NaN,NaN,Napa,446.25,510.00,637.50,740.00,842.50,743.75,850.00,1062.50,1232.50,1402.50,1151.25,1315.00,1643.75,1907.50,2170.00,1487.50,1700.00,2125.00,2465.00,2805.00,1785.00,2040.00,2550.00,2957.50,3366.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,268.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
70434,H,6102,359.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3787.00,30.00,150000.00,1.00,nan,Placer CA,NaN,NaN,NaN,NaN,NaN,NaN,Placer,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,359.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
74730,H,6702,56.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3627.00,22.00,193700.00,1.00,nan,Sacramento CA,NaN,NaN,NaN,NaN,NaN,NaN,Sacramento,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,56.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
84558,H,6702,51.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3652.00,101.00,4400.00,1.00,nan,Sacramento CA,NaN,NaN,NaN,NaN,NaN,NaN,Sacramento,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,51.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
87459,H,300,51.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3890.00,81.00,57300.00,4.00,nan,Alpine CA,Amador,Calaveras,Inyo,Mariposa,Mono,Tuolumne,Alpine,371.25,425.00,530.00,615.00,700.00,618.75,706.25,882.50,1023.75,1165.00,988.75,1130.00,1412.50,1638.75,1865.00,1462.50,1672.50,2090.00,2425.00,2758.75,1755.00,2006.25,2507.50,2908.75,3310.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,51.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
106935,H,3702,98.00,4.00,7.00,nan,nan,2600.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,Los Angeles CA,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,448.75,512.50,640.00,742.50,845.00,747.50,855.00,1067.50,1238.75,1410.00,nan,nan,nan,nan,nan,1120.00,1280.00,1600.00,1856.25,2112.50,1343.75,1536.25,1920.00,2227.50,2535.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,98.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
147987,H,6702,32.00,4.00,2.00,nan,nan,3400.00,nan,3.00,nan,nan,3577.00,11.00,398000.00,2.00,nan,Sacramento CA,NaN,NaN,NaN,NaN,NaN,NaN,Sacramento,395.00,451.25,563.75,655.00,745.00,657.50,751.25,938.75,1090.00,1240.00,1052.50,1202.50,1502.50,1743.75,1983.75,1313.75,1502.50,1877.50,2177.50,2478.75,1576.25,1802.50,2252.50,2612.50,2973.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,32.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Part D1. Add dummy variables for vacant "for-rent," vacant "for-sale," and recently moved in

In [38]:
# create dummy variables for vacant for rent, vacant for sale, rented in the last year, and sold in the last year
units_df["vacant_for_rent"]=np.where(units_df['vacancy_status']==1,1,0)
units_df["vacant_for_sale"]=np.where(units_df['vacancy_status']==3,1,0)
units_df["moved_last_year"]=np.where(units_df['moved_in']==1,1,0)
units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count,vacant_for_rent,vacant_for_sale,moved_last_year
0,H,800,55.00,3.00,2.00,nan,1800.00,nan,nan,1.00,nan,100000.00,nan,nan,74000.00,4.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,H,6113,36.00,1.00,5.00,nan,nan,750.00,nan,3.00,nan,nan,780.00,32.00,29300.00,6.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
2,H,800,54.00,3.00,2.00,nan,nan,1000.00,nan,3.00,nan,nan,1150.00,101.00,12600.00,4.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,H,8004,9.00,3.00,2.00,nan,3000.00,nan,nan,1.00,nan,550000.00,nan,nan,96200.00,2.00,65.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
4,H,900,72.00,4.00,2.00,nan,nan,nan,nan,2.00,nan,260000.00,nan,nan,48004.00,5.00,35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154448,H,4900,81.00,3.00,2.00,nan,nan,nan,nan,2.00,nan,700000.00,nan,nan,70700.00,7.00,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
154449,H,1503,162.00,3.00,2.00,nan,nan,nan,nan,4.00,nan,nan,nan,nan,75000.00,7.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
154450,H,2405,112.00,3.00,2.00,nan,1100.00,nan,nan,1.00,nan,400000.00,nan,nan,94150.00,5.00,39.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1

In [39]:
#filter for only currently listed or recently moved into units
recent_mask = (units_df.vacant_for_rent==1)|(units_df.vacant_for_sale==1)|(units_df.moved_last_year==1)
recent_units_df = units_df[recent_mask]
recent_units_df

,record_type,PUMA,weight,number_bedrooms,units_in_structure,condo_fee,first_mortgage,monthly_rent,second_mortgage,tenure,vacancy_status,property_value,gross_rent,gross_rent_pct_of_income,hh_income,moved_in,prop_tax,county1,county2,county3,county4,county5,county6,county7,County,ELI_studio,ELI_1_br,ELI_2_br,ELI_3_br,ELI_4_br,VLI_studio,VLI_1_br,VLI_2_br,VLI_3_br,VLI_4_br,LI_studio,LI_1_br,LI_2_br,LI_3_br,LI_4_br,MI_studio,MI_1_br,MI_2_br,MI_3_br,MI_4_br,MoI_studio,MoI_1_br,MoI_2_br,MoI_3_br,MoI_4_br,...,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_monthly_cost,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count,vacant_for_rent,vacant_for_sale,moved_last_year
13,H,3901,168.00,3.00,2.00,nan,510.00,nan,nan,1.00,nan,135000.00,nan,nan,37000.00,1.00,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
18,H,5420,114.00,2.00,2.00,nan,nan,1900.00,nan,3.00,nan,nan,2300.00,9.00,307000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
19,H,1403,48.00,3.00,2.00,nan,1900.00,nan,nan,1.00,nan,300000.00,nan,nan,100050.00,1.00,52.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
31,H,2709,78.00,4.00,3.00,250.00,1500.00,nan,nan,1.00,nan,550000.00,nan,nan,60000.00,1.00,62.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
43,H,7802,70.00,2.00,7.00,nan,nan,850.00,nan,3.00,nan,nan,1000.00,25.00,47600.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154427,H,5415,65.00,2.00,2.00,nan,1100.00,nan,nan,1.00,nan,335000.00,nan,nan,40700.00,1.00,47.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
154436,H,8113,90.00,3.00,2.00,nan,4500.00,nan,nan,1.00,nan,780000.00,nan,nan,226900.00,1.00,67.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
154442,H,2001,79.00,3.00,2.00,nan,nan,2000.00,nan,3.00,nan,nan,2191.00,41.00,64300.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1
154451,H,4500,152.00,2.00,7.00,nan,nan,900.00,nan,nan,1.00,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0
154452,H,5702,70.00,1.00,8.00,nan,nan,630.00,nan,3.00,nan,nan,671.00,27.00,30000.00,1.00,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1

# Part D2. Aggregating at the PUMA level

In [40]:
# for all units
puma_sums_df = units_df.groupby("PUMA").sum()
puma_counts_df = puma_sums_df[["rent_ELI_studio_count","rent_ELI_1_br_count",
    "rent_ELI_2_br_count",
    "rent_ELI_3_br_count",
    "rent_ELI_4_br_count",
    "rent_VLI_studio_count",
    "rent_VLI_1_br_count",
    "rent_VLI_2_br_count",
    "rent_VLI_3_br_count",
    "rent_VLI_4_br_count",
    "rent_LI_studio_count",
    "rent_LI_1_br_count",
    "rent_LI_2_br_count",
    "rent_LI_3_br_count",
    "rent_LI_4_br_count",
    "rent_MI_studio_count",
    "rent_MI_1_br_count",
    "rent_MI_2_br_count",
    "rent_MI_3_br_count",
    "rent_MI_4_br_count",
    "rent_MoI_studio_count",
    "rent_MoI_1_br_count",
    "rent_MoI_2_br_count",
    "rent_MoI_3_br_count",
    "rent_MoI_4_br_count",
    "rent_HI_studio_count",
    "rent_HI_1_br_count",
    "rent_HI_2_br_count",
    "rent_HI_3_br_count",
    "rent_HI_4_br_count",
    "own_ELI_studio_count",
    "own_ELI_1_br_count",
    "own_ELI_2_br_count",
    "own_ELI_3_br_count",
    "own_ELI_4_br_count",
    "own_VLI_studio_count",
    "own_VLI_1_br_count",
    "own_VLI_2_br_count",
    "own_VLI_3_br_count",
    "own_VLI_4_br_count",
    "own_LI_studio_count",
    "own_LI_1_br_count",
    "own_LI_2_br_count",
    "own_LI_3_br_count",
    "own_LI_4_br_count",
    "own_MI_studio_count",
    "own_MI_1_br_count",
    "own_MI_2_br_count",
    "own_MI_3_br_count",
    "own_MI_4_br_count",
    "own_MoI_studio_count",
    "own_MoI_1_br_count",
    "own_MoI_2_br_count",
    "own_MoI_3_br_count",
    "own_MoI_4_br_count",
    "own_HI_studio_count",
    "own_HI_1_br_count",
    "own_HI_2_br_count",
    "own_HI_3_br_count",
    "own_HI_4_br_count"]].copy()
puma_counts_df

,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
PUMA,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
300,55.00,1166.00,2166.00,642.00,334.00,662.00,3581.00,8285.00,4839.00,1257.00,1174.00,4096.00,9255.00,6339.00,1896.00,1414.00,4262.00,9559.00,6699.00,1896.00,1414.00,4262.00,9559.00,6816.00,1896.00,376.00,66.00,97.00,0.00,51.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
400,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
500,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8114,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8115,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8116,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [41]:
#export it
puma_counts_df.to_csv("weighted_puma_counts.csv")

In [42]:
# for recent units
recent_puma_sums_df = recent_units_df.groupby("PUMA").sum()
recent_puma_counts_df = recent_puma_sums_df[["rent_ELI_studio_count","rent_ELI_1_br_count",
    "rent_ELI_2_br_count",
    "rent_ELI_3_br_count",
    "rent_ELI_4_br_count",
    "rent_VLI_studio_count",
    "rent_VLI_1_br_count",
    "rent_VLI_2_br_count",
    "rent_VLI_3_br_count",
    "rent_VLI_4_br_count",
    "rent_LI_studio_count",
    "rent_LI_1_br_count",
    "rent_LI_2_br_count",
    "rent_LI_3_br_count",
    "rent_LI_4_br_count",
    "rent_MI_studio_count",
    "rent_MI_1_br_count",
    "rent_MI_2_br_count",
    "rent_MI_3_br_count",
    "rent_MI_4_br_count",
    "rent_MoI_studio_count",
    "rent_MoI_1_br_count",
    "rent_MoI_2_br_count",
    "rent_MoI_3_br_count",
    "rent_MoI_4_br_count",
    "rent_HI_studio_count",
    "rent_HI_1_br_count",
    "rent_HI_2_br_count",
    "rent_HI_3_br_count",
    "rent_HI_4_br_count",
    "own_ELI_studio_count",
    "own_ELI_1_br_count",
    "own_ELI_2_br_count",
    "own_ELI_3_br_count",
    "own_ELI_4_br_count",
    "own_VLI_studio_count",
    "own_VLI_1_br_count",
    "own_VLI_2_br_count",
    "own_VLI_3_br_count",
    "own_VLI_4_br_count",
    "own_LI_studio_count",
    "own_LI_1_br_count",
    "own_LI_2_br_count",
    "own_LI_3_br_count",
    "own_LI_4_br_count",
    "own_MI_studio_count",
    "own_MI_1_br_count",
    "own_MI_2_br_count",
    "own_MI_3_br_count",
    "own_MI_4_br_count",
    "own_MoI_studio_count",
    "own_MoI_1_br_count",
    "own_MoI_2_br_count",
    "own_MoI_3_br_count",
    "own_MoI_4_br_count",
    "own_HI_studio_count",
    "own_HI_1_br_count",
    "own_HI_2_br_count",
    "own_HI_3_br_count",
    "own_HI_4_br_count"]].copy()
recent_puma_counts_df

,rent_ELI_studio_count,rent_ELI_1_br_count,rent_ELI_2_br_count,rent_ELI_3_br_count,rent_ELI_4_br_count,rent_VLI_studio_count,rent_VLI_1_br_count,rent_VLI_2_br_count,rent_VLI_3_br_count,rent_VLI_4_br_count,rent_LI_studio_count,rent_LI_1_br_count,rent_LI_2_br_count,rent_LI_3_br_count,rent_LI_4_br_count,rent_MI_studio_count,rent_MI_1_br_count,rent_MI_2_br_count,rent_MI_3_br_count,rent_MI_4_br_count,rent_MoI_studio_count,rent_MoI_1_br_count,rent_MoI_2_br_count,rent_MoI_3_br_count,rent_MoI_4_br_count,rent_HI_studio_count,rent_HI_1_br_count,rent_HI_2_br_count,rent_HI_3_br_count,rent_HI_4_br_count,own_ELI_studio_count,own_ELI_1_br_count,own_ELI_2_br_count,own_ELI_3_br_count,own_ELI_4_br_count,own_VLI_studio_count,own_VLI_1_br_count,own_VLI_2_br_count,own_VLI_3_br_count,own_VLI_4_br_count,own_LI_studio_count,own_LI_1_br_count,own_LI_2_br_count,own_LI_3_br_count,own_LI_4_br_count,own_MI_studio_count,own_MI_1_br_count,own_MI_2_br_count,own_MI_3_br_count,own_MI_4_br_count,own_MoI_studio_count,own_MoI_1_br_count,own_MoI_2_br_count,own_MoI_3_br_count,own_MoI_4_br_count,own_HI_studio_count,own_HI_1_br_count,own_HI_2_br_count,own_HI_3_br_count,own_HI_4_br_count
PUMA,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
300,0.00,228.00,174.00,0.00,101.00,109.00,1226.00,2212.00,1919.00,393.00,551.00,1415.00,2762.00,3075.00,838.00,791.00,1415.00,2843.00,3226.00,838.00,791.00,1415.00,2843.00,3226.00,838.00,376.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
400,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
500,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8113,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8114,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8115,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8116,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [43]:
#export it
recent_puma_counts_df.to_csv("weighted_recent_puma_counts.csv")